*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

 body{
    background-color:#E4E9F7;
} 

/* Navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 60px 0 0; */
    z-index: 10;
}

.logo{
  margin-left: 1.8%;
   height: 70%;
    display: flex;
    width: 350px;
}
/* SKH-Logo*/
.logo img{
    width : auto;
    height: 100%;
   margin-right: 10px;
    align-content: center;
   
}
.logoText{
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    /* margin-bottom: 5px; */
}
.nav{
    width: 500px;
    margin-right: 1.8%;
    height: 70%;
    display: flex;
     align-items: center;
}

.navbar ul{
    color: #000;
    list-style: none;
    display: flex;
    gap: 25px;
     align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.navbar a:hover{
  font-weight: 600;
}

@media(max-Width :860px){
    .nav{
        display: none;
    }
}
/* Hero Section */
.hero{
    height: 100vh;
    background: url("hostel.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 70px;
}

/* .overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
} */



