<% layout('/layout/boilerplate.ejs') -%>
<body>

    <div class="error-container">
        <div class="error-alert">
            <h1><%= status %></h1>
            <h2>Oops! Error</h2>
            <p><%= message %></p> 
            <a href="/" class="home-btn">Go Back to Home</a>
        </div>
    </div>
</body>
</html>