<footer class="footer">
    <div class="footer-container">
        
        <div class="footer-col">
            <h3> सीरवी किसान छात्रावास-पाली</h3>
            <p>पाली में समाज के विद्यार्थियों के लिए एक सुरक्षित, आरामदायक और अनुशासित वातावरण प्रदान करना। घर से दूर एक ऐसा घर, जो आपकी सफलता और खुशहाली के लिए समर्पित है।</p>
        </div>

        <div class="footer-col">
            <h3>Quick Links</h3>
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/rules">Hostel Rules</a></li> 
                <li><a href="/gallery">Photo Gallery</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contact Us</h3>
             <ul class="footer-contact">
                <li>
                    <span>📍</span> Address: 
                    <a href="https://www.google.com/maps/search/?api=1&query=Sirvi+Kisnan+Hostel,+Pali,+Rajasthan" target="_blank">
                        Sirvi Kisnan Hostel, Pali, Rajasthan
                    </a>
                </li>
                
                <li>
                    <span>📞</span> Phone: 
                    <a href="tel:+917023146362">+91 7023146362</a>
                </li>
                
                <li>
                    <span>✉️</span> Email: 
                    <a href="mailto:info@sirvikisnanhostelpali.com">info@sirvikisnanhostelpali.com</a>
                </li>
            </ul>
            
            <div class="social-links">
                <a href="https://www.facebook.com/SIRVIHOSTELPALI/" title="Facebook" target="_blank">f</a>
                <a href="https://www.instagram.com/sirvi_kishan_hostel_pali?igsh=aXFrZ2F2NTYyNGE=" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@sirvihostelpali1966" title="YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p> © 2026 Sirvi Kisnan Hostel Pali. All Rights Reserved. <br>
        <a target="_blank" href="https://www.linkedin.com/in/mahendraseervi628/">Made by Mahendra Seervi</a> </p>
    </div>
</footer>